<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../input/adult.data.csv')
df.head()

   age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0   39         State-gov   77516  ...               40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2   38           Private  215646  ...               40   United-States  <=50K
3   53           Private  234721  ...               40   United-States  <=50K
4   28           Private  338409  ...               40            Cuba  <=50K

[5 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
# You code here
df["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
# You code here
df["age"][df["sex"] == "Female"].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
# You code here
df["native-country"].value_counts(normalize=True).sort_index()

?                             0.017905
Cambodia                      0.000584
Canada                        0.003716
China                         0.002303
Columbia                      0.001812
Cuba                          0.002918
Dominican-Republic            0.002150
Ecuador                       0.000860
El-Salvador                   0.003255
England                       0.002764
France                        0.000891
Germany                       0.004207
Greece                        0.000891
Guatemala                     0.001966
Haiti                         0.001351
Holand-Netherlands            0.000031
Honduras                      0.000399
Hong                          0.000614
Hungary                       0.000399
India                         0.003071
Iran                          0.001321
Ireland                       0.000737
Italy                         0.002242
Jamaica                       0.002488
Japan                         0.001904
Laos                          0.000553
Mexico                        0.019748
Nicaragua                     0.001044
Outlying-US(Guam-USVI-etc)    0.000430
Peru                          0.000952
Philippines                   0.006081
Poland                        0.001843
Portugal                      0.001136
Puerto-Rico                   0.003501
Scotland                      0.000369
South                         0.002457
Taiwan                        0.001566
Thailand                      0.000553
Trinadad&Tobago               0.000584
United-States                 0.895857
Vietnam                       0.002058
Yugoslavia                    0.000491
Name: native-country, dtype: float64

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
# You code here
df.groupby(["salary"])["age"].agg([np.mean, np.std])

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
# You code here
df.groupby(["salary"])["education"].value_counts(normalize=True)

salary  education
<=50K   HS-grad         0.357039
        Some-college    0.238835
        Bachelors       0.126780
        11th            0.045105
        Assoc-voc       0.041303
        10th            0.035235
        Assoc-acdm      0.032443
        Masters         0.030906
        7th-8th         0.024515
        9th             0.019701
        12th            0.016181
        5th-6th         0.012824
        1st-4th         0.006553
        Prof-school     0.006189
        Doctorate       0.004328
        Preschool       0.002063
>50K    Bachelors       0.283255
        HS-grad         0.213621
        Some-college    0.176891
        Masters         0.122306
        Prof-school     0.053947
        Assoc-voc       0.046040
        Doctorate       0.039026
        Assoc-acdm      0.033797
        10th            0.007907
        11th            0.007652
        7th-8th         0.005101
        12th            0.004209
        9th             0.003443
        5th-6th         0.002041
        1st-4th         0.000765
Name: education, dtype: float64

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [8]:
# You code here
df.groupby(["race", "sex"])["age"].describe()

                             count       mean  ...     75%   max
race               sex                         ...
Amer-Indian-Eskimo Female    119.0  37.117647  ...   46.00  80.0
                   Male      192.0  37.208333  ...   45.00  82.0
Asian-Pac-Islander Female    346.0  35.089595  ...   43.75  75.0
                   Male      693.0  39.073593  ...   46.00  90.0
Black              Female   1555.0  37.854019  ...   46.00  90.0
                   Male     1569.0  37.682600  ...   46.00  90.0
Other              Female    109.0  31.678899  ...   39.00  74.0
                   Male      162.0  34.654321  ...   42.00  77.0
White              Female   8642.0  36.811618  ...   46.00  90.0
                   Male    19174.0  39.652498  ...   49.00  90.0

[10 rows x 8 columns]

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [9]:
m = {"Married-civ-spouse": "Married", "Married-spouse-absent": "Married", "Married-AF-spouse": "Married", "Divorced": "Single", "Never-married": "Single", "Separated": "Single", "Widowed": "Single"}
df = df.replace(m)
df[(df["sex"] == "Male") & (df["salary"] == ">50K")].groupby(["marital-status"])["sex"].value_counts()

marital-status  sex
Married         Male    5965
Single          Male     697
Name: sex, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [10]:
# You code here
pd.crosstab(df["salary"], df["hours-per-week"], margins=True)
df[(df["salary"] == ">50K") & (df["hours-per-week"] >= 99)].describe()

             age         fnlwgt       ...        capital-loss  hours-per-week
count  25.000000      25.000000       ...           25.000000            25.0
mean   40.760000  188218.680000       ...          427.440000            99.0
std     9.355391  115655.645292       ...          878.718009             0.0
min    25.000000   24790.000000       ...            0.000000            99.0
25%    37.000000  111499.000000       ...            0.000000            99.0
50%    39.000000  178370.000000       ...            0.000000            99.0
75%    43.000000  266324.000000       ...            0.000000            99.0
max    73.000000  404616.000000       ...         2415.000000            99.0

[8 rows x 6 columns]

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [11]:
# You code here
df.groupby(["salary", "native-country"])["hours-per-week"].agg(np.mean)

salary  native-country
<=50K   ?                             40.164760
        Cambodia                      41.416667
        Canada                        37.914634
        China                         37.381818
        Columbia                      38.684211
        Cuba                          37.985714
        Dominican-Republic            42.338235
        Ecuador                       38.041667
        El-Salvador                   36.030928
        England                       40.483333
        France                        41.058824
        Germany                       39.139785
        Greece                        41.809524
        Guatemala                     39.360656
        Haiti                         36.325000
        Holand-Netherlands            40.000000
        Honduras                      34.333333
        Hong                          39.142857
        Hungary                       31.300000
        India                         38.233333
        Iran                          41.440000
        Ireland                       40.947368
        Italy                         39.625000
        Jamaica                       38.239437
        Japan                         41.000000
        Laos                          40.375000
        Mexico                        40.003279
        Nicaragua                     36.093750
        Outlying-US(Guam-USVI-etc)    41.857143
        Peru                          35.068966
                                        ...
>50K    France                        50.750000
        Germany                       44.977273
        Greece                        50.625000
        Guatemala                     36.666667
        Haiti                         42.750000
        Honduras                      60.000000
        Hong                          45.000000
        Hungary                       50.000000
        India                         46.475000
        Iran                          47.500000
        Ireland                       48.000000
        Italy                         45.400000
        Jamaica                       41.100000
        Japan                         47.958333
        Laos                          40.000000
        Mexico                        46.575758
        Nicaragua                     37.500000
        Peru                          40.000000
        Philippines                   43.032787
        Poland                        39.000000
        Portugal                      41.500000
        Puerto-Rico                   39.416667
        Scotland                      46.666667
        South                         51.437500
        Taiwan                        46.800000
        Thailand                      58.333333
        Trinadad&Tobago               40.000000
        United-States                 45.505369
        Vietnam                       39.200000
        Yugoslavia                    49.500000
Name: hours-per-week, Length: 82, dtype: float64